.wp-datepicker-dialog

  @media screen and (min-width: $breakpoint-sm)
    &--content
      // We set a fixed height for this dialog zo avoid that it jumps around when the tabs are switched or errors shown
      min-height: 525px
      min-width: 600px

  @media screen and (max-width: $breakpoint-sm)
    &--form-block
      flex-direction: column !important
      align-items: flex-start !important
      row-gap: 1rem
