<spot-drop-modal
  [opened]="opened"
  (closed)="onModalClosed()"
  alignment="bottom-center"
>
  <input
    slot="trigger"
    type="text"
    class="spot-input"
    (click)="onInputClick($event)"
    [value]="dates"
    (focus)="showDatePickerModal()"
  />

  <ng-container slot="body">
    <op-wp-single-date-form
      *ngIf="opened && !isMultiDate"
      [value]="dates"
      [changeset]="change"
      (save)="save()"
      (cancel)="cancel()"
    ></op-wp-single-date-form>

    <turbo-frame *ngIf="turboFrameSrc && opened && isMultiDate"
                 [src]="turboFrameSrc"
                 opModalWithTurboContent
                 [change]="change"
                 [resource]="resource"
                 (successfulCreate)="handleSuccessfulCreate($event)"
                 (successfulUpdate)="handleSuccessfulUpdate()"
                 (cancel)="onModalClosed()"
                 id="wp-datepicker-dialog--content">
      <op-content-loader viewBox="0 0 100 100">
        <svg:rect x="5" y="5" width="70" height="5" rx="1"/>

        <svg:rect x="80" y="5" width="15" height="5" rx="1"/>

        <svg:rect x="5" y="15" width="90" height="8" rx="1"/>

        <svg:rect x="5" y="30" width="90" height="12" rx="1"/>
      </op-content-loader>
    </turbo-frame>

    <!--<op-wp-multi-date-form
      *ngIf="opened && isMultiDate"
      [value]="dates"
      [changeset]="change"
      [fieldName]="name"
      (save)="save()"
      (cancel)="cancel()"
    ></op-wp-multi-date-form>-->
  </ng-container>
</spot-drop-modal>
